<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class = "nav">
        <a href="/">Home</a>
        <a href="/create">Create a Post</a>
        <a href="/search">Search</a>
        <a href="/random">Random Post</a>
        {{#if login}}
            <a href="/user/{{userID}}">Profile</a>
            <a href="/logout">Log Out</a>
        {{/if}}
        {{#unless login}}
            <a href = "/signup">Sign Up</a>
            <a href = "/login">Login</a>
        {{/unless}}
    </div>
    {{{body}}}
</body>
</html>