<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <div class = "nav">
        <a href="../pages/home.handlebars">Home</a>
        <a href="../pages/create.handlebars">Create a Post</a>
        <a href="../pages/search.handlebars">Search</a>
        <a href="../pages/random.handlebars">Random Post</a>
    </div>
    {{{body}}}
</body>
</html>