<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
    <div class = "nav">
        <a href="/">Home</a>
        <a href="/post">Create a Post</a>
        <a href="/search">Search</a>
        <a href="/random">Random Post</a>
        <a id="signin">Sign Up / Log In</a>
    </div>
    {{{body}}}
</body>
</html>