body {
    font-family: "Courier New", Courier, monospace;

}

.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    background-color:#000000;
    text-decoration: none;
}

.nav a:hover{
    background-color:#4d0a18;
    color: white;
}

.login_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.login_style input[type="text"],
.login_style input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.login_style button[type="Submit"]  
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}