body {
    font-family: "Courier New", Courier, monospace;

}

.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    background-color:#000000;
    text-decoration: none;
}

.nav a:hover{
    background-color:#4d0a18;
    color: white;
}