body {
    font-family: 'Open Sans Condensed', arial, sans;
}

/* Navigation Bar*/

#title {
    background-color: #630c0c;
    color:white;
}
.nav {
    overflow:hidden;
    background-color: #000000;
}
.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    background-color:#000000;
    text-decoration: none;
    border:none;
    font-family: 'Open Sans Condensed', arial, sans;
}

.nav a:hover{
    background-color:#4d0a18;
}

/*Search Bar*/
.nav .search-container{
    float:right;
    padding-right: 8px;
    max-width: 30%;
}

.nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    font-family:'Open Sans Condensed', arial, sans;
}
/* Login CSS */
.login_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.login_style input[type="text"],
.login_style input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 18px 'Open Sans Condensed', arial, sans;
    height: 45px;
}

.login_style button[type="Submit"]  
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 16px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Signup CSS */
.signup_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.signup_style input[type="text"],
.signup_style input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 18px 'Open Sans Condensed', arial, sans;
    height: 45px;
}

.signup_style button[type="Submit"]  
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 16px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Profile CSS */
.profile_style {
    float: left;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
}

.profile_style .each {
    float: left;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}


/* Create a Post CSS */
.create_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.create_style input[type="text"],
.create_style select[name="type"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', arial, sans;
    height: 45px;
}

.create_style button[type="Submit"]  
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', arial, sans;
    font-size: 16px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Post CSS */

.post_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 550px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.post_style input[type="text"],
.post_style input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 18px 'Open Sans Condensed', arial, sans;
    height: 45px;
}

.image img{
    width: 75%;
    height: 75%;
    padding: 50px;
    background: #FFFFFF;
}

.video {
    width: 75%;
    height: 75%;
    background: #FFFFFF;
}
.post_style button[type="Submit"]  
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Home CSS */
.home_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
}
.home_style .each {
    float: left;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.home_style input[type="text"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 18px 'Open Sans Condensed', arial, sans;
    height: 45px;
}

/* Search CSS */
.search_style {
    float: left;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
}
.search_style .each {
    float: left;
    width: 500px;
    padding: 50px;
    background: #FFFFFF;
    margin: 30px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.search_style input[type="text"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Open Sans Condensed', arial, sans;
    height: 45px;
}