<div class = "login_style">
    <h2> Login Here! </h2>
<form id="login-form" method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="Submit" value="Submit">Submit</button>
    {{#if badLogin}}
        <p class="error">Username or password was incorrect!</p>
    {{/if}}
    {{#if reqFields}}
        <p class="error">Please fill out all fields!</p>
    {{/if}}
</form>
</div>